// Here you can add other styles
.bg-sidebar {
    background-color: #2C363B;
}

.bg-sidebar-header-left {
    background-color: #C9D0E0;
}

.bg-sidebar-row {
    font-weight: bold;
}

.bg-sidebar-row:hover {
    background-color: #00965E;
}

.bg-header {
    background-color: #DEE5F5;
}

.font-bold {
    font-weight: bold;
}

.card-full-size {
    font-size: 40px;
}

.card-mid-size {
    font-size: 20px
}

.card-small-size {
    font-size: 10px
}

.text-green {
    color: #00965E;
}

.text-red {
    color: red;
}

.text-blue {
    color: #0070C0;
}

.text-primary-color {
    color: #2C363B;
}

.chart-pie {
    height: 100px !important;
}

.card-dashboard {
    border-style: 5px solid;
}

.add_header {
    text-align: 'center';
    font-size: '2.5em';
}

.dropdown-row {
    color: 'red';
}

.dropdown-row :hover {
    background-color: #2C363B;
}